body {
    background-color: #ffc107;
}

a:hover {
    color: #fff;
}

#title {
    background-color: #212529;
}

#recipes {
    text-align: center;
}

.nav-link {
    color: #ffc107 !important;
    font-size: 1.25rem;
}

.nav-link#enquiry {
    background-color: rgb(167, 33, 33);
    color: #fff !important;
}


.nav-link:hover {
    color: #fff !important;
}

.nav-link:visited {
    color: #fff;
}

.main {
    background-color: #ffc107;
    padding-top: 1.25rem 1.25rem 0 1.25rem;
    margin: 0;
}


/* SquareDiv */
.square-div {
    text-align: center;
    margin-top: 4.375rem;
}

.title-image {
    border-radius: 10%;
    height: 90%;
    width: 90%;
}

.curve {
    background-color: #ffc107;
    border: solid 0.1875rem #000;
    border-radius: 6rem;
    margin: 4.375rem 0.625rem;
}

/* Product Page */

.product-image {
    border-radius: 10%;
    width: 100%;
    height: 92%;
}

.product-image-large {
    border-radius: 10%;
    width: 100%;
    height: 90%;
}


.full-image {
    margin-bottom: 1.875rem;
}

.product-image-huge {
    border-radius: 3.75rem;
    width: 100%;
    height: 100%;
}

.product {
    margin: 0 0.625rem 0 1.25rem;
}

.curve2 {
    border: solid 0.1875rem #000;
    border-radius: 3.875rem;
    width: 100%;
    height: 62%;
}

.product-col {}

/* About Page */
.about-image {

    height: 60%;
    width: 80%;
}

.about-main {
    margin-left: 1.25rem;
    margin-right: 0.3125rem;
}

.image-div {
    text-align: center;
    padding: 3.125rem 3.125rem 0;
}

.custom {
    margin-left: 8.0625rem;
}

.custom-cls {
    padding-left: 4.375rem;
}

.social-icon {
    margin: 1.25rem 0.625rem;
}

#footer {
    background-color: #000;
    text-align: center;
    padding: 7% 15%;
}

.icon {
    color: #e2bf56;
}

.icon:hover {
    color: #fff;
}

.copyright {
    color: grey;
}

h3 {
    color: #fff;
}

.recipes {
    text-align: center;
}

.image-card {
    padding: 3.125rem;
    
}

.about-image {
    border-radius: 0.625rem;
    height: 13.75rem;
    width: 13.75rem;
}

.about {
    text-align: center;
    margin-bottom: 3.125rem;
}

.main-image {
    height: 18.75rem;
    width: 18.75rem;
    border-radius: 12.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: rgb(17, 16, 16);
    cursor: pointer;
}

.image-hover:hover .overlay {
    opacity: 0.8;
}

.team:hover {
    background-color: rgb(167, 33, 33);
    color: #fff;
    transition: 0.5s ease-in;
}

.info-link {
    color: #000;
    text-decoration: none;
}

.info-link:hover {
   
}

.last {
    margin: 0.625rem;
}

#gallery {
    margin-top: 5rem;
}

.carousel-image {
    border-radius: 0.625rem;
    height: 31.25rem;
    width: 25rem;
    margin-top: 12.5rem;
    margin-bottom: 6.25rem; 
    margin-left: 4rem;
    margin-right: 4rem;
}

.carousel-div {
    text-align: center;
}

.box-carousel {
    margin: 12.5rem 5rem 6.25rem 5rem;
    width: 50rem;
}

.brand-carousel {
    margin: 12.5rem 5rem 6.25rem 5rem;
    width: 40.625rem;
}

.detail-div {
    text-align: center;
    margin-top: 9.375rem;
}

.detail-img {
    border-radius: 1.25rem;
    height: 43.75rem;
    width: 37.5rem;
}

#mission {
    margin: 5rem 0 0 0;
}

ul {
    font-size: x-large;
}

.card-text {
    font-size: x-large;
    font-weight: 600;
}


@media (max-width:1101px) {
    /* .carousel-image {
        border-radius: 0.625rem;
        height: 31.5rem;
        width: 13rem;
        margin: 0rem 1rem 1rem 0rem;        
    }

    .media-carousel {
        margin-top: 12.25rem;
    } */
    .nav-link {
        color: #ffc107 !important;
        font-size: 2.25rem;
    }

    ul {
        font-size: xx-large;
    }
    
    .fa-2xl {
        font-size: 3.7rem;
    }

    .fa-l {
        font-size: 2.1rem;
    }

    h5 {
        font-size: 2.1rem;
    }

    p {
        font-size: 2.1rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .card-text {
        font-size: 2.1rem;
    }

    .last {
        margin-top: 3rem;
    }

    .navbar-toggler-icon {
        height: 3.75rem;
        width: 3.75rem;
    }

   .nav-img {
    height: 9.375rem;
    width: 23.75rem;
   }

   #title {
    margin-top: 5rem;
   }

}